.carrousel { // boîte modale
    position: absolute;
    // position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border: 1px solid #aaa;
    background-color: aquamarine;
    transform: scale(0);
    transition: transform .5s;
}
.carrousel--activer {
    transform: scale(1);
}
.carrousel__x {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 3;
}
.carrousel__figure {
    position: absolute;
    width: 100%;
    height: auto; 
    top: 0;
    left: 0;
}
.carrousel__img {
    display: block;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
    opacity: 0;
}

.carrousel__form {
    display: block;
    text-align: center;

    position: absolute;
    bottom: 0;
    border: 1px solid #fff;
    width: 100%;
}
.carrousel__rad {
    display: inline-block;
    padding: 4px;

}
.conteneur-fleche {
    display: flex;
    justify-content: space-between;
    
}
.fleche__1 {
    font-size: 4em;
    z-index: 100;
    color: orange;
    cursor: pointer;
}
.fleche__2 {
    font-size: 4em;
    z-index: 100;
    color: orange;
    cursor: pointer;
}

